#!/bin/sh

# XConfig
xset r rate 300 50
xcompmgr > /dev/null 2>&1 &
xwallpaper --daemon --zoom ~/.config/wallpaper.jpg &
#xautolock -time 10 \
#  -notify 60 \
#  -notifier 'dunstify "Xautolock" "Locking screen in 1m"' \
#  -locker 'slock -m "$(cowsay "$(fortune)")"' &

# System utilities
redshift &
dwmstatus > ~/.local/share/dwmstatus/log.stdout 2> ~/.local/share/dwmstatus/log.stderr &
powerline-daemon -q
dunst &
mpd
#safeeyes &
#unclutter --start-hidden --jitter 0 --timeout 5 -b

# Startup programs
thunderbird &
nm-applet &
bluberry-tray
