#!/bin/sh

dwmstatus &
xcompmgr > /dev/null 2>&1 &
dunst &
xset r rate 300 50
xwallpaper --daemon --zoom ~/.config/wallpaper.png
unclutter --start-hidden --jitter 0 --timeout 5 -b
#xautolock -time 10 \
#  -notify 60 \
#  -notifier 'dunstify "Xautolock" "Locking screen in 1m"' \
#  -locker 'slock -m "$(cowsay "$(fortune)")"' &
thunderbird &
nm-applet &
google-calendar &
